.find {
    position: relative;
}

.find__input {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1100px;
    width: 100%;
    padding: 15px 10px;
    border: 2px solid #000;
    font-size: 20px;
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
}

.find__input::placeholder {
    font-size: 20px;
}

.find__input:focus {
    border: 2px solid #00fff7;
    box-shadow: 0px 0px 10px 5px #00fff7;
}

.find__error {
    margin-top: 13px;
    position: absolute;
}