.mainPage {
    height: calc(100vh - 60px);
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.dream {
    font-size: 200px;
    color: white;
}
.better {
    font-style: italic;
    position: relative;
    font-size: 35px;
    color: white;
}

.text {
    z-index: 100;
}

.mainPage__overlay {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #000;
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: .5;
}

.product-page{
  padding: 0 10px;
}
.mainPage__nav {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 99;
    position: relative;
}

.mainPage__nav__button {
    display: block;
    font-size: 40px;
    width: 48%;
    height: 70px;
    background-color: #00ffcc;
    margin-left: 10px;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    line-height: 70px;
    text-align: center;
}

.mainPage__nav__button:nth-child(2) {
    margin-right: 0;
}

.mainPage__nav__button:last-child {
    margin-top: 10px;
    width: 100%;
    margin-right: 0;
}

.mainPage__img {
    display: block;
    height: calc(100vh - 60px);
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 1;
}




@media(max-width:1350px){
  .mainPage__nav__button {
    display: block;
    font-size: 30px;
    width: 45%;
    height: 70px;
}
}

@media(max-width:900px){
  .mainPage__nav__button {
    font-size: 25px;
}
.mainPage__nav{
  width: auto;
}
}


@media(max-width:670px){
  .mainPage__nav__button {
    font-size: 22px;
}
}