.product-page {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1300px;
}

.product-page__content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}



@media(max-width:950px){
  .product-page__content{
    flex-direction: column;
    margin-top: 10px;
  }
}