.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
.form {
  padding: 20px 0;
  box-sizing: border-box;
}

.form__inner {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__name {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form__descr{
  margin-bottom: 5px;
  font-size: 19px;
  line-height: 22px;
}

.form__input{
  max-width: 600px;
   box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border: none;
  border: 1px solid #0f0f0f;
  border-radius: 20px;
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
}
.form__input::placeholder{
  font-size: 17px;
}

.form__submit{
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-color: #000000dc;
  display: block;
  padding: 10px;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 30px;
}

.card {
  padding: 5px;
}

.card__inner {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.card__title{
  font-size: 22px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 24px;
}

.card__descr {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 22px;
}

.card__input {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #1a1a1a;
}

.card__date-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card__date {
  max-width: 80px;
  margin: 0 3px;
}

.card__cvv {
  max-width: 80px;
}

.card__code {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  margin-left: 10px;
}

@media(max-width:420px){
  .card__date-container {
    flex-direction: column;
  }
}