.form {
  padding: 20px 0;
  box-sizing: border-box;
}

.form__inner {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__name {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form__descr{
  margin-bottom: 5px;
  font-size: 19px;
  line-height: 22px;
}

.form__input{
  max-width: 600px;
   box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border: none;
  border: 1px solid #0f0f0f;
  border-radius: 20px;
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
}
.form__input::placeholder{
  font-size: 17px;
}

.form__submit{
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-color: #000000dc;
  display: block;
  padding: 10px;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 30px;
}