.footer{
  padding: 30px 0;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid #2c2c2c;
  margin-top: 20px;
  color: black;
}

.footer__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

}

.footer__logo-link{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo-img {
  width: 60px;
  height: 60px;
}

.footer__developers-list{
  /* display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__item{
  padding: 5px;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid transparent;
  transition: all .5s;
  color: black;
   border-bottom:  1px solid transparent;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all .5s;
}

 
.footer__item:hover{
border-bottom:  1px solid #2c2c2c;
}

.footer__link{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
  text-decoration: none;
}

.footer__img{
  width: 20px;
  height: 20px;
}



@media(max-width: 600px){
  .footer__item{
  font-size: 16px;
  line-height: 18px;
}
}



@media(max-width: 600px){
  .footer__developers-list{
  grid-template-columns: repeat(1, 1fr);
}
.footer{
  padding: 15px 0;
}
.footer__inner{
  gap: 10px;
}
}