.header {
    max-width: 1300px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: center;


}

.header a {
    color: #000;
    text-decoration: none;
}


.header__nav {
    margin: 0 auto;
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.header__button {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.header__button button {
    padding: 7px 10px;
    background-color: transparent;
    border: 2px solid 
}